__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pt
*.pth
*.npy
*.npz
*.csv
results*/
austria_target/results*/
austria_target/**/results*/
austria_target/*.pt
austria_target/*.pth
austria_target/*.npy
austria_target/__pycache__/
austria_target/**/__pycache__/
square_target/results*/
square_target/**/results*/
square_target/*.pt
square_target/*.pth
square_target/*.npy
*_results/
*.rar
.idea/
.vscode/
